* {
    margin: 0 !important;
    padding: 0 !important;

    ::placeholder {
        color: #90949c;
        text-indent: 1em;
        font-size: 17px;
    }

    input {
        text-indent: 1.3em;
    }

    input:focus {
        border: 4px solid #e7f3ff !important;
        color: #cdd1d5;
    }
}
.dashboard {
    background: #121212;
    height: 100%;
    &-search {
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        padding-left: 5rem !important;
        input {
            border-radius: 50px;
            width: 15rem;
            height: 3rem;
            outline: none;
            border: none;
            font-size: 1rem;
            font-weight: 400;
        }
        ::placeholder {
            padding-left: 8px;
            color: #bbb;
        }
    }

    &-body {
        width: 100%;
        &-music {
            height: 70vh;
            width: 100%;
            overflow-y: scroll;
            background: #121212;
        }

        /* width */
        ::-webkit-scrollbar {
            width: 15px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #121212;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #878787;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #121212;
        }

        &-player {
            width: 100%;
            background: #1db954;
            font-size: 32px;
            margin-bottom: 0px;
        }
    }
    @media only screen and (max-width: 600px) {
        .dashboard {
            &-search {
                justify-content: center;
                margin-left: 0rem !important;
                padding-left: 0rem !important;
            }
        }
    }
}
